.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
backup/
cache/
autosave/
managed_components/
.DS_Store
sdkconfig.*.old
firmware/lvgl_editor/preview-build/
firmware/lvgl_editor/preview-bin/build.log

# Compiled release files
*.dev.zip
*.release.zip
*.dev.bin
*.release.bin
